.place__paragraph-container-text {
    line-height: 163%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin: 0 0 1.625rem;
    box-sizing: border-box;
}

.place__paragraph-container-text:nth-of-type(2n) {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph-container-text {
        font-size: 16px;
        line-height: 1.625rem;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph-container-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;

        width: 288px;
        padding-left: 16px;
        margin-bottom: 0;
    }
}
