.intro__list {
    list-style: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    max-width: 690px;
    padding-top: 0.35rem;
    padding-left: 0;
}

@media screen and (max-width: 570px) {
    .intro__list {
        padding-left: 1rem;
        padding-top: 1.5rem;
    }
}

