.header__link_wrapper {
    width: 78px;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

@media screen and (max-width: 320px) {
    .header__link_wrapper {
        font-size: 18px;
        line-height: 20px;
    }
}
