.place__link {
    line-height: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__link:hover {
    opacity: 0.8;
}
