.footer__link {
    line-height: 18px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 0 1.125rem 0 0;
}

.footer__link:first-child {
    padding-left: 3rem;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .footer__link:first-child {
        padding-left: 1.5rem;
    }
}

@media screen and (max-width: 570px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        padding-bottom: 32px;
    }

    .footer__link:nth-of-type(5) {
        padding-bottom: 0;
    }

    .footer__link:first-child {
        padding-left: 0rem;
    }
}
