.lead__title {
    width: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
    max-height: 200px;
    text-align: center;
    color: #FFFFFF;
    margin: auto 0 auto;
}

@media screen and (max-width: 320px) {
    .lead__title {
        width: 320px;
        font-size: 40px;
        line-height: 44px;
    }
}
