.cover {
    color: white;
    padding: 5.75rem 0 0;
}

@media screen and (max-width: 768px) {
    .cover {
        padding-top: 5.625rem;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        padding-top: 4.125rem;
    }
}
