.cover__overlay {
    height: 740px;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../../images/cover__background.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        height: 640px;
    }
}

@media screen and (max-width: 320px) {
    .cover__overlay {
        height: 200px;
    }
}
