.footer {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    padding-top: 5.4rem;
    padding-bottom: 1.5rem;
}

@media screen and (max-width: 720px) {
    .footer {
        padding-top: 4rem;
        flex-direction: column;
        padding-left: 1rem;
    }
}
